<%= display_error %>

<form action='/login' method="POST">
  Email:<br>
  <input type="text" name="user[email]" class="form-control" placeholder="Enter Your Email"><br>
  Password:<br>
  <input type="password" name="user[password]" class="form-control" placeholder="Enter Your Password"><br><br>
  <input type="submit" value="Login" class="btn btn-lg btn-default">
</form>