<form action='/signup' method="POST">
  User:<br>
  <input type="text" name="user[name]"><br>
  Email:<br>
  <input type="text" name="user[email]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Signup!">
</form>