
<h1 class="cover-heading"><%= @user.first_name %>'s Albums</h1>

<div class="photo-grid">
  <% @albums.each do |album| %>
    <% first_photo_url = "/img/default-image.png" %>
    <% first_photo_url = album.photos.first.photo_url unless album.photos.empty? %>
    <div class="col-lg-5">
      <a href="/albums/<%= album.id %>" class="thumbnail">
        <img src="<%= first_photo_url %>" class="img-responsive">
      </a>
    </div>
  <% end %>
</div>